.navbar{
    padding-left: 10px;
    padding-right: 20px;
}
.navbar-brand {
    transform: translateX(-50%);
    left: 50%;
    position: absolute;
    text-shadow: 1px 1px 3px rgba(0,0,0,0.3);
    font-size: 29px;
    line-height: 25px;
    padding: 10px;
}

body{
    margin-top: 50px;
    padding: 3px;
}

.btn-dark{
    border: 1px solid #444;
    color: #999;
    background-color: inherit;
}

.btn-dark:hover{
    color: #FFF;
    background-color: rgba(255,255,255,0.1);
}

.module{
    width: 100%;
    height: 100%;
    border: 2px solid white;
}

.sticky-note-module{
    box-shadow: inset 5px 5px 20px rgba(0,0,0,.5);
    background: transparent;
    height: 100%;
    overflow: scroll;
    position: relative;
    float: left;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    color: #777;
}

.sticky-note{
    width: 150px;
    height: 150px;
    box-shadow: 1px 1px 5px rgba(0,0,0,.5);
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAFCAYAAACNbyblAAAAAXNSR0IArs4c6QAAADhJREFUCB1j/P9u5hkGBsYGBjD4D6ZZIBwQCRKASDJBGBAVEAkGBqAgCMC0g+j/DUDtMFUwCQYGALW4D2DIX5GaAAAAAElFTkSuQmCC);
    /*background-color: #ffee99;*/
    resize: none;
    padding: 10px;
    padding-top: 15px;
    cursor: text;
    border: 1px solid #ddcc66;
    -webkit-appearance: none;
    color: #111;
}

.sticky-note id{
    visibility: hidden;
}

.noselect{
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    cursor: pointer;
}

.del-note{
    text-decoration: none;
    color: #111;
    position: absolute;
}

.half-width{
    width: 50%;
    float: left;
}
.half-height{
    height: 50%;
}

textarea:focus::-webkit-input-placeholder{
    color: transparent;
}




